.App {
  text-align: center;
}


.main-container {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-wrap: nowrap;
}

.options-sidebar {
	padding: 20px;
	color: azure;
	width: 25%;
	background-color: rgb(1, 0, 65)
}

#search {
	font-size: 1.1em;
	border-radius: 3px;
}

#reset-search {
	font-size: 0.8em;
	margin-left: 15px;
	border-radius: 3px;
}

.venue {
	color: rgb(181, 252, 228);
}

.info-window {
	text-align: center;
}

.info-window .view-photos{
	font-size: 1.2em;
	color: blue;
	text-decoration: none;
}

.info-window .view-photos:hover{
	font-weight: bold;
}

.neighborhood-wrapper {
	width: 75%;
	height: 100%;
}